<%- include("layouts/header") %>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include("layouts/sidebar") %>


            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    
                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">All Posts</h1>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">All Writer's Posts</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Title</th>
                                                    <th>Sub Title</th>
                                                    <th>Content</th>
                                                    <th>Writer</th>
                                                    <th>Post Category</th>
                                                    <th>Operation</th>
                                                    <th>Operation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% displayData.map((data)=>{%>
                                                    <tr>
                                                        <td>
                                                            <%- data.createdAt.toDateString() %>
                                                        </td>
                                                        <td>
                                                            <%- data.title %>
                                                        </td>
                                                        <td>
                                                            <%- data.subTitle %>
                                                        </td>
                                                        <td>
                                                            <%- data.postText %>
                                                        </td>
                                                        <td>
                                                            <%- data.userId.firstName+" "+ data.userId.lastName%>
                                                        </td>
                                                        <td>
                                                            <%- data.category.categoryName %>
                                                        </td>
                                                        <% if(data.status) {%>
                                                            <td>
                                                                <a href="deactivepost/<%- data._id %>" class="btn btn-danger">Deactive</a>
                                                            </td>
                                                            <% } else{%>
                                                                <td>
                                                                    <a href="activepost/<%- data._id %>" class="btn btn-success">Active</a>
                                                                </td>
                                                                <% } %>
                                                    </tr>

                                                <%})%>
                                                
                                                
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Begin Page Content -->
                </div>
                <!-- End of Main Content -->
                <%- include("layouts/footer") %>