<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user-page.css">
    
    <title><%-title%></title>
</head>
<body>
    
    <div class="container">
    
        <nav class="navbar">
            <ul class="nav-links-left">
                <li><a href="#">
                    Name: <%= user.email%>
                    <i class="fas fa-chevron-down"></i>
                </a></li>
                <li><a href="#"></a></li>
                <li><a href="#">
                    <i class="fas fa-chevron-down"></i>
                </a></li>
                <li><a href="#"></a></li>
            </ul>
            <ul class="nav-links-right">
                
                <a href="/users/logout">Logout</a>
                <a href="/users/user-register">Register</a>
            </ul>
        </nav>
    
        
    
        <main>
            <h1 class="main-title">Blog Table</h1>
            <div class="main-content">
                <div class="main-content-left">
                    <table border="2" style="margin-left: 10rem;">
                        <thead>
                            <tr>
                                <th>Serial No.</th>
                                <th>User Name</th>
                                <th>Title</th>
                                <th>Category Name</th>
                                <th>Post Text</th>
                                <th>Image</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% let i=0; response.map((data)=> { %>
                       
                                <tr>
                                    <td>
                                      <%= ++i%>  
                                    </td>
                                    <td>
                                        <%- data.userList.userName %>
                                    </td>
                                    <td>
                                        <%- data.title %>
                                    </td>
                                    <td>
                                        <%- data.categoryList.categoryName %>
                                    </td>
                                    <td>
                                        <%- data.postText %>
                                    </td>
                                    <td>
                                         <img width="100" height="100" class="img-profile rounded-circle"
                                        src="/uploads/<%=data.image %>"> 
                                    </td>
                                    

                                </tr>
                                <% }) %>
                        </tbody>
                      </table>
                    </div>
                </div>
                
            </div>
        </main>
    
    
    </div>

    <script>
        /* The design was taken from https://www.uidesigndaily.com/posts/sketch-articles-page-article-blog-post-cards-day-1122 */

            const tl = gsap.timeline({ defaults: { ease: "power2.out", duration: 0.4 } })

            tl.from(".navbar", { y: -20, opacity: 0 })
            tl.from(".navbar-bottom", { y: -20, opacity: 0 })
            tl.from(".main-title", { y: -20, opacity: 0 })
            tl.from(".main-content-left", { y: -20, opacity: 0 })
            tl.from(".main-content-right", { y: -20, opacity: 0 })
    </script>
    
</body>
</html>
